<mat-toolbar style="background-color: #DA5D5D;">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  
  <div class="right-side">

    <div style="width: 150px;margin-left: 15px;">
        <select class="form-select" aria-label="Default select example">
            <option selected>Tester</option>
            <option value="1">name1</option>
            <option value="2">name2</option>
            <option value="3">name3</option>
        </select>
    </div>
    <div style="width: 150px;margin-left: 15px;">
        <select class="form-select" aria-label="Default select example">
            <option selected>Developer</option>
            <option value="1">name1</option>
            <option value="2">name2</option>
            <option value="3">name3</option>
        </select>
    </div>
    <div style="width: 180px;margin-left: 15px;">
        <select class="form-select" aria-label="Default select example">
            <option selected>Defect Severity</option>
            <option value="">None</option>
            <option value="1">Critical</option>
            <option value="2">Major</option>
            <option value="3">Normal</option>
            <option value="4">Minor</option>
        </select>
    </div>

    <!-- Search form -->
    <div class="sh-float">
        <input class="form-control mr-sm-2" type="text" placeholder="Search for Project by name">
    </div>
    <div class="ph-float">
        <button class='ph-button ph-btn-green' >Add Defect</button>
    </div>

</div>
</mat-toolbar>