<!-- <mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>   
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
    </a>
  </mat-nav-list> -->
<h1>{{pro_name}}</h1>
<mat-nav-list>
    <div>
        <a mat-list-item (click)="board()">
            <i class='bx bx-bar-chart-alt-2'></i>
            <span class="links_sidesbar">board</span>
        </a>
    </div>
        
    <div *ngIf="isTest">
        <a mat-list-item (click)="create()">
            <i class='bx bx-pencil'></i>
            <span class="links_sidesbar">create defect</span>
        </a>
    </div>
    <div>
        <a mat-list-item (click)="testcase()">
            <i class='bx bxs-book-open'></i>
            <span class="links_sidesbar">testcase</span>
        </a>
    </div>
        
        <!-- <div class="sidesbar">
                <div class="sidesbar_details">
                    <div class="sidesbar_job">
                        <li>
                            <a (click)="homepro()">
                                <i class='bx bx-pie-chart-alt-2' ></i>
                                <span class="links_sidesbar">chart</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div> -->
    <div>
        <a mat-list-item onclick="document.getElementById('id01').style.display='block'">
                <i class='bx bx-cog'></i>
                <span class="links_exit">edit project</span>
            </a>
    </div>
    <div>
        <a mat-list-item (click)="exit()">
            <i class='bx bx-exit'></i>
            <span class="links_exit">Exit Project</span>
        </a>
    </div>
            

       
</mat-nav-list>
                