
<!DOCTYPE html>
<html>
    <head>
        <!--Fontawesome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <!--Bootsrap 4 CDN-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Box Icon -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="bg">  
            <div class="container" >
        
                <!-- <div class="d-flex justify-content-center h-100"> -->
                    <div class="card">
                        <div class="card-header">
                            <h3>Register</h3>
                           
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="input-group form-group" >
                                    <div class="text-center" >
                                        <img [src]="imgPreview" class="avatar img-circle img-thumbnail" 
                                                style="width: 100px; height: 100px;" alt="avatar">
                                        <!-- <input type="file" class="form-control" name="file" id="" (change)="getFile(event.target.files)" style="width: 360px;" > -->
                                        <input type="file" class="file-upload" (change)="getFile($event)">
                                    </div>
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="username" id="" [(ngModel)]="username" placeholder="username">
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="name"  id="" [(ngModel)]="name" placeholder="name">
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="lastname"  id="" [(ngModel)]="lastname" placeholder="lastname">
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" name="password"  id="" [(ngModel)]="password" placeholder="password">
                                </div>
                                
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class='bx bx-phone'></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="phone"  id="" [(ngModel)]="phone" placeholder="phone"> 
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class='bx bxs-select-multiple'></i></span>
                                    </div>
                                    <!-- <input type="text" id="" [(ngModel)]="position"> -->
                                    <select class="form-select" name="position"  [(ngModel)]="position" placeholder="select" >
                                        <!-- <option selected>Select Position</option> -->
                                        <option value="1">Project Manager</option>
                                        <option value="2">Tester</option>
                                        <option value="3">Developer</option>
                                    </select>
                                </div>
                                
                                
                                <div >
                                    <a (click)="submit()">
                                        <input type="submit" value="Submit" class="btn float-left sub_btn">
                                    </a>
                                    <a (click)="cancel()">
                                        <input type="submit" value="Cancle" class="btn float-right cancel_btn" >
                                    </a>
                                </div> 

                            </form>
                        </div>
                    </div>
                <!-- </div> -->
        
           
                
            </div>
        
          
        </div>
        
    </body>
</html>


